:root {
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --fundo1: #f7f7f7;
  --fundo2: #ffffff;
  --texto1: #000000;
  --subtitulo: rgba(0, 0, 0, 0.2);
  --onda: url("./img/onda-clara.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo1: #111111;
    --fundo2: #000000;
    --texto1: #ffffff;
    --subtitulo: rgba(255, 255, 255, 0.2);
    --onda: url("./img/onda-escura.svg");
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  background-color: var(--fundo1);
  color: var(--texto1);
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
}

p,
h1,
h2,
h3 {
  margin: 0%;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.header {
  padding-top: 30px;
  display: grid;
  justify-items: center;
  gap: 60px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu a {
  display: block;
  background-color: var(--fundo2);
  padding: 1rem 2rem;
  border-radius: 4px;
  color: var(--texto1);
  text-transform: uppercase;
  border: 2px solid transparent;
}

.menu a:hover {
  border-color: var(--cor-primaria);
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background-color: var(--fundo2);
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 20px;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao::before {
  content: "";
  width: 3.75rem;
  height: 4px;
  background: var(--cor-primaria);
  position: absolute;
  top: 2rem;
  right: -2rem;
}

.introducao-cover img {
  object-fit: cover;
  height: 100%;
}

.botao {
  background-color: var(--cor-primaria);
  color: #ffffff;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background: var(--cor-primaria-escura);
}

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--subtitulo);
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: var(--onda);
}

.vantagens {
  background-color: var(--fundo2);
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.vantagens-item:nth-child(odd) {
  background: var(--fundo1);
}

.vantagens-item:hover {
  border-left: 4px solid var(--cor-primaria);
}

.vantagens-item p {
  grid-column: 2;
}

.rodape {
  background: var(--fundo2);
  padding: 40px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .conteudo-vantagens {
    grid-template-columns: 1fr;
  }

  .subtitulo {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .conteudo {
    grid-template-columns: 1fr;
  }

  .introducao::before {
    display: none;
  }

  .conteudo {
    position: relative;
  }

  .introducao-cover::before {
    content: "";
    width: 4px;
    height: 3.75rem;
    background: var(--cor-primaria);
    position: absolute;
    margin: -30px 30px;
  }
}

@media (max-width: 400px) {
  body {
    gap: 30px;
    margin-top: 40px;
  }

  .header {
    gap: 30px;
  }

  .introducao {
    justify-items: center;
    text-align: center;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }

}
